@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    <pre>
        Mã Sinh Viên:
        Họ Tên: Phạm Quang Nhất
        Ngày Sinh:21/05/2004
        Điện Thoại:0817842585
        Email:phamquangnhatdz2105@gmail.com
    </pre>
</main>